
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome To The GC Coffee Shop!</h2>



<p>Please take a moment to <a href="/Home/Registration">register</a></p> @ViewBag.UserName


@*@Html.ActionLink("Register", "Registration", "Home")*@

<p><a href="/Home/Registration">Register Here!</a></p>